    <!-- Footer -->

    <footer class="white-section" id="footer">
        <div class="container-fluid">

            <i class="footer-icon fab fa-twitter"></i>
            <i class="footer-icon fab fa-facebook-f"></i>
            <i class="footer-icon fab fa-instagram"></i>
            <i class="footer-icon fas fa-envelope"></i>

            <p>© Copyright 2022 Daniel Lenihan</p>
        </div>
    </footer>

    <script src="js/main.js"></script>

</body>

</html>