<!-- Footer -->

<!-- Call to Action -->

<section class="colored-section" id="cta">
    <div class="container-fluid">
        <h4>Call or text me at <a class="link" href="tel:832-723-4497">(832) 723-4497</a> or send me an <a class="link"
                href="/contact">email</a> for information on pricing and details on how to schedule a free,
            complimentary consultation</h4>
    </div>
</section>

<footer class="colored-section" id="footer">
    <div class="container-fluid">

        <i class="footer-icon fab fa-twitter"></i>
        <i class="footer-icon fab fa-facebook-f"></i>
        <i class="footer-icon fab fa-instagram"></i>
        <i class="footer-icon fas fa-envelope"></i>

        <p>© Copyright 2022 Daniel Lenihan</p>
    </div>
</footer>

<script src="js/main.js"></script>

</body>

</html>