<%- include('partials/header') %>

<section class="white-section element-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>404 - Page Not Found</h1>
                <h5>Sorry, the page that you're looking for can not be found</h5>
            </div>
        </div>
    </div>
</section>

<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/">⟵ Back to Home</a>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>