<%- include('partials/header') %>

    <!-- Title -->
    <!-- <section class="colored-section">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="big-heading">Professional training for both you and your dog to achieve a more comfortable
                    cohesive lifestyle</h1>
            </div>
            <div class="col-lg-6">
                <img class="iphone" src="images/iphone6.png" alt="iphone-mockup">
            </div>
        </div>
    </section> -->

    <!-- Welcome -->
    <section class="white-section element-1" id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 welcomeIntro">
                    <h4 class="text-uppercase green">Professional Dog Trainer and Animal Behaviorist</h4>
                    <h1 class="text-uppercase big-heading">Daniel Lenihan</h1>
                    <p>Dogs have always been an important part of my life for as long as I can remember. Having studied
                        animal behavior and being mentored by some of the best dog trainers in the country, I have
                        developed the skills to assist familes with their own beloved canine companions. Nothing brings
                        me greater joy than working with dogs and their owners to achieve a more comfortable and
                        cohesive lifestyle.</p>
                    <p>Communication is vital to any relationship, and that includes the one between you and your dog.
                        My goal is to not just help train dogs to make better decisions, but to educate their
                        families on how to more effectively make their intentions clear.</p>
                    <p>I look forward to helping you make these goals a reality, contact me today to learn more and
                        arrange a free consultation!</p>

                    <div class="contactButtons">
                        <a href="/contact" class="btn btn-primary">
                            <i class="bi bi-forward"></i>
                            <span>Contact</span>
                        </a>
                        <a href="tel:832-723-4497" class="btn btn-primary">
                            <i class="bi bi-telephone-fill"></i>
                            <span>(832) 723-4497</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <img class="profilePicture" src="images/profile.jpg" alt="profilePicture">
                </div>
            </div>
        </div>
    </section>

    <!-- Features -->
    <!-- <section class="white-section" id="features">
        <div class="container">

            <div class="row">

                <div class="col-lg-4 feature-group">
                    <i class="fas fa-check-circle fa-4x features-icon"></i>
                    <h3 class="feature-title">All Dogs Welcome</h3>
                    <p class="features-subtitle">Experienced working with dogs of all sizes, breeds, ages, and
                        temperments</p>
                </div>

                <div class="col-lg-4 feature-group">
                    <i class="fas fa-bullseye fa-4x features-icon"></i>
                    <h3 class="feature-title">Individualized Approach</h3>
                    <p class="features-subtitle">Every dog is different, so I will cater the training methods to their
                        needs</p>
                </div>

                <div class="col-lg-4 feature-group">
                    <i class="fas fa-heart fa-4x features-icon"></i>
                    <h3 class="feature-title">Education for Dog and Family</h3>
                    <p class="features-subtitle">My goal is to make sure pet parents learn how to establish boundaries
                        for their dogs</p>
                </div>

            </div>
        </div>
    </section> -->

    <!-- Testimonials -->

    <section class="colored-section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Education for Dog and Family</h2>
                    <p>There is no such thing as a truly "bad dog." Behavioral issues are most often the result of
                        experiences leading dogs to believe that they should act out in a certain way, even if said
                        behavior is considered innapropriate by their owners. This is why it is important to consider
                        your dog's specific situation and make your expectations for them as clear as possible. My job
                        is provide an individualized training plan to show you how your dog naturally thinks, learns,
                        and reacts and then using this knowledge to lead and communicate with them. Once that is
                        established, behavioral change will naturally follow after. I have worked with all kinds of
                        breeds, ages, and issues and have helped all of my clients achieve happier lives with their
                        dogs.</p>

                        <a href="/services" class="btn btn-primary">
                            <i class="bi bi-arrow-right-circle"></i>
                            <span>Learn More</span>
                        </a>

                </div>

                <div class="col-lg-4">
                    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active container-fluid">
                                <p class="testimonial-text">"...I want to give a special shout out to Daniel who has
                                    been training my 5 month old puppy George. He is the best! George is developing
                                    great habits and growing into a very well mannered pup thanks to Daniel. If you need
                                    training for your pups, Daniel is the man!"</p>
                                <img class="testimonial-image" src="images/dog-img.jpg" alt="dog-profile">
                                <h5><em>C. Smith</em></h5>
                            </div>
                            <!-- <div class="carousel-item container-fluid">
                                <h2 class="testimonial-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Hic,
                                    in
                                    ea?
                                    Deleniti, perspiciatis. Asperiores accusantium eum, libero dicta fugit voluptas
                                    inventore!
                                    Consequatur harum quisquam deserunt earum molestiae similique. Veniam, molestias?
                                </h2>
                                <img class="testimonial-image" src="images/lady-img.jpg" alt="lady-profile">
                                <em>lorem ipsum</em>
                            </div> -->
                        </div>
                        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Press -->

    <!-- <section class="colored-section" id="press">
        <img class="press-logo" src="images/techcrunch.png" alt="tc-logo">
        <img class="press-logo" src="images/tnw.png" alt="tnw-logo">
        <img class="press-logo" src="images/bizinsider.png" alt="biz-insider-logo">
        <img class="press-logo" src="images/mashable.png" alt="mashable-logo">

    </section> -->


    <!-- Services -->

    <section class="white-section" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                        <img src="" alt="behavior-therapy-dog">
                        <h4>Behavioral Therapy</h4>
                        <p>Helping you and your dog overcome problematic behaviors such as aggression, anxiety,
                            excessive excitement, destructive behavior, and more.</p>
                            <a href="/behavior-therapy" class="btn btn-primary home-service-button">
                                <i class="bi bi-arrow-right-circle"></i>
                                <span>Learn More</span>
                            </a>
                </div>
                <div class="col-md-4">
                        <img src="" alt="puppy-dog">
                        <h4>Puppy Training</h4>
                        <p>Training for managing puppies' rowdy behavior and establishing fundamental rules and routine
                            customized for them to follow as they develop.</p>
                            <a href="/puppy-training" class="btn btn-primary home-service-button">
                                <i class="bi bi-arrow-right-circle"></i>
                                <span>Learn More</span>
                            </a>
                </div>
                <div class="col-md-4">
                        <img src="" alt="basic-obedience-dog">
                        <h4>Obedience Training</h4>
                        <p>Training for dogs of all ages and breeds addressing basic commands such as sit, down, stay,
                            heel, recall training, and more.</p>
                            <a href="/obedience-training" class="btn btn-primary home-service-button">
                                <i class="bi bi-arrow-right-circle"></i>
                                <span>Learn More</span>
                            </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to Action -->

    <section class="colored-section" id="cta">
        <div class="container-fluid">
            <h3 class="big-heading">Call or text me at <a href="tel:832-723-4497">(832) 723-4497</a> or send me an <a
                    href="/contact">email</a> for information on pricing and details on how to schedule a free,
                complimentary consultation</h3>
        </div>
    </section>

    <%- include('partials/footer') %>