<%- include('partials/header') %>
<section class="white-section element-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Local Links</h1>
                <h3>Nothing here at the moment</h3>
            </div>
        </div>
    </div>
</section>

<section class="white-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/">⟵ Back to Home</a>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>