body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.text-uppercase {
  text-transform: uppercase;
}

.btn {
  border-radius: 60px;
  text-transform: uppercase;
  font-size: large;
  letter-spacing: 2px;
  font-weight: 600;
}

/* containers */
.container-fluid {
  padding: 5% 15%;
}

/* sections */

.element-1 {
  padding-top: 90px;
}

.colored-section {
  background-color: #0762AB;
  color: #fff;
}

.white-section {
  background-color: rgb(243, 243, 243);
}

/* navbar */

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1100;
  box-shadow:0 0 10px rgb(0, 0, 0);
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
}

.navbar-toggler{
  padding: 0.25rem 0.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.nav-link:hover{
  color: #fff !important;
}

.dropdown-menu {
  background-color: #0762AB;
  min-width: 300px;
  border: none;
  padding: 0;
}

@media (max-width: 992px) {
  .nav-link{
    line-height: 1;
  }
}

/* Welcome */

#welcome h4 {
  margin-top: 30px;
  margin-bottom: 0;
}

#welcome p {
  padding: 12px 0;
}

.contactButtons {
  text-align: center;
  margin-top: 20px;
}

.contactButtons .btn {
  margin: 0 20px;
  margin-bottom: 15px;
}

.profilePicture{
  width: 100%;
  margin: 15px;
}

/* testimonials */
#testimonials {
  padding-top: 50px;
  padding-bottom: 20px;
}

#testimonials .carousel {
  text-align: center;
}

.testimonial-text {
  font-size: 16px;
  font-style: italic;
  line-height: 1.6;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}


/* services-home */

#services {
  padding: 50px;
  text-align: center;
}

.home-service-button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .row {
    display: flex;
    align-items: stretch;
  }

  .row>.col-md-4 {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
  }

  .row>.col-md-4>a {
    margin-top: auto;
  }

  .row:before {
    content: none;
  }
}

/* call to action */
#cta{
  text-align: center;
}

#cta a{
  color: rgb(28, 48, 151);
  transition: color .25s;
}

#cta a:hover {
  text-decoration: none;
  color:#ffffff;
}

/* services pages */
.service-page{
  padding-top: 30px;
}

.service-title {
  border-bottom: 1.5px solid rgb(13, 0, 255);
  margin-bottom: 35px;
  padding-bottom: 25px;
  font-variant: small-caps;
}

.services-subnav{
  padding: 0;
}

.services-subnav li a i{
  color: black !important;
  padding-right: 15px;
}

.services-subnav a{
  color: black;
  padding: 12px 20px;
  display: block;
  letter-spacing: 1px;
}

.services-subnav a:hover {
  text-decoration: none;
  font-weight: bold;
}

.services-subnav li{
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0);
}

.services-subnav li[aria-current]:not([aria-current="false"]) {
  font-weight: bold;
  border: 1px solid rgba(134, 134, 134, 0.515);
  background-color: #f8f9fa;
}

.services-subnav li:hover{
  border: 1px solid rgba(134, 134, 134, 0.515);
}

.services-subnav li:active{
  background: white;
  border: 1px solid rgba(134, 134, 134, 0.515);
}

/* footer */

#footer{
  text-align: center;
}

.footer-icon {
  margin: 20px 10px;
}