<%- include('../partials/header') %>
    <section class="white-section element-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Dog Behavior Therapy</h1>
                    <h4>Overcoming </h4>
                    <p>
                        Sometimes getting your dog to understand basic commands is not enough. Many families who seek professional training for their dog do so because they exhibit disruptive behavior that is difficult to manage. And while establishing a solid foundation by teaching your dog to obey specific instructions is the first step to setting up expectations they should adhere to, modifying inappropriate behavior such as aggression or anxiety takes far more diligence.
                    </p>
                    <h6>
                        The issues I can help you and your dog overcome include...
                    </h6>
                    <ul>
                        <li>Aggression</li>
                        <li>Fear aggression</li>
                        <li>Food aggression</li>
                        <li>Pack aggression</li>
                        <li>Excessive barking</li>
                        <li>Biting</li>
                        <li>Charging the front door</li>
                        <li>Chasing animals</li>
                        <li>Destructive behaviors</li>
                        <li>Inappropriate toileting</li>
                        <li>Inattentiveness</li>
                        <li>Jumping</li>
                        <li>Leash pulling</li>
                        <li>Mouthing and nipping</li>
                        <li>Over exuberance and hyperactivity</li>
                        <li>Phobias</li>
                        <li>Separation anxiety</li>
                        <li>Sibling rivalry</li>
                        </ul>
                    <p>
                        The thing to keep in mind is that dogs are not born with exact predetermined behaviors, aggressive or otherwise. While genetics and breed do have some correlation to a dog's personality, all dogs only ever act out in a way they have learned through experiences that will yield a positive outcome or maintain a status quo. There is always a perceived reason behind their actions even if does not make for a good excuse. If they are allowed continualy justify these behaviors they can easily become habitual which leads to dogs acting in ways we deem aggressive. 
                    </p>
                    <p>
                        Euthanizing or re-homing a dog is very distressing for a family but is unfortunately the chosen option in many cases for handling a problematic dog as an easy out. What many people fail to realize is that most dog behavioral problems can be corrected with the assistance of a professional dog trainer. By determining the underlying issue, I can assist by counter conditioning their way of thinking to un-learn the behavior and re-structure them into more appropriate responses in a way that is simple and makes sense to both the dog and the owner. 
                    </p>
                    <p>
                        Remember, there is always a reason for your dog's behavior and therefore there is a solution. It is my top priority to help you determine the central issue and from there teach your dog a better way to act. The methods I utilize have succeeded helping countless families where other dog trainers have failed. Any issue, any dog, any breed, I'm here to help you and your beloved furry family member.
                    </p>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li><a href="/services"><i class="fas fa-paw"></i><span>Introduction</span></a></li>
                        <li><a href="/behavior-therapy"><i class="fas fa-paw"></i><span>Behavioral Therapy</span></a>
                        </li>
                        <li><a href="/puppy-training"><i class="fas fa-paw"></i><span>Puppy Training</span></a></li>
                        <li><a href="/obedience-training"><i class="fas fa-paw"></i><span>Obedience Training</span></a>
                        </li>
                        <li><a href="/what-to-expect"><i class="fas fa-paw"></i><span>What to Expect</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/footer') %>