<%- include('../partials/header') %>
    <section class="white-section element-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Dog Obedience Training</h1>
                    <h4>Fundamentals for all dogs</h4>
                    <p>When people think of dog training the first things that come to mind are the basic commands (sit,
                        stay, come, etc.) that are expected of most every dog to understand and act upon. Regardless of
                        the training method utilized by their trainer, the most important factors are effective
                        communication, routine, and good timing in order to achieve the best results from your dog.
                        Establishing basic rules and expectations in a way that makes sense to your dog is the
                        foundation to a happy and compatible life with them.</p>
                    <p>
                        Remember, dogs may be smart and willing to please but they do not communicate the way we do. It
                        takes time and clear association between a given signal and the resulting action for them to
                        really understand a specific command. Furthermore, dogs are keenly aware of the intentions and
                        idiosyncracies of others due to body language making up the majority of the way they communicate
                        themselves. Therefore being overly critical and/or rewarding in response to their actions can
                        condition them to behave in ways that you may not intend.
                    </p>
                    <p>
                        The methods I will teach you to effectively lead your dog and teach them new commands are
                        catered to their specific personality and temperament and are built on a foundation of trust and
                        respect. Treats are often used in conjunction with dog training, and while this may have uses
                        with cases such as earning the trust of an anxious dog or introducing a new concept to an easily
                        distracted puppy, treats can become overly relied upon to get your dog to do anything as it is
                        the only thing they care about. Conversely, tools such as prong collars may be effective for
                        establishing boundaries for particularly ornery dogs, but only when utilized appropriately and
                        fairly, they should not be used to dominate and elevate their stress levels. We want our dogs to
                        learn and obey commands because they respect us and trust our judgement, not because we bribe
                        them with food or compel them through intimidation.
                    </p>
                    <p>So if you need help teaching commands to an stubborn dog or need to introduce ground rules to a
                        new pup, I'm here to show you the the most effective way to communicate with them and lead
                        through a relationship established through trust, love, and authority.</p>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li><a href="/services"><i class="fas fa-paw"></i><span>Introduction</span></a></li>
                        <li><a href="/behavior-therapy"><i class="fas fa-paw"></i><span>Behavioral Therapy</span></a>
                        </li>
                        <li><a href="/puppy-training"><i class="fas fa-paw"></i><span>Puppy Training</span></a></li>
                        <li><a href="/obedience-training"><i class="fas fa-paw"></i><span>Obedience Training</span></a>
                        </li>
                        <li><a href="/what-to-expect"><i class="fas fa-paw"></i><span>What to Expect</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/footer') %>