<%- include('../partials/header') %>
    <section class="white-section element-1">
        <div class="container service-page">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <h1>Puppy Management and Training</h1>
                    <h4>Start your puppy off on the right paw</h4>
                    <p>It goes without saying that everyone loves puppies. However, they are handfulls that are new to
                        the world and require plenty of guidance and supervision in order to develop good manners and
                        obedience. All puppies receive much of their socialization during the first 12 weeks of their
                        life from their mother and littermates, but now that you have brought them into your family, it
                        is up to you to continue where they left off as the new authority figure. Once your dog has
                        settled into their new home and received the necessary vaccinations, we can start with the puppy
                        training program.</p>
                    <p>All dogs benefit from effective training to establish boundaries and expectations, and for
                        puppies it is even more crucial. Just like human babies, puppies are at the most formative time
                        of their lives and the lessons they learn shape their developing personality and understanding
                        of the world. Having only existed for a short time, puppies are easily overwhelmed with
                        distractions and tire quickly, so it is important to maintain and capitalize on their attention
                        as well as establishing firm boundaries and having patience with them. The training methods that
                        I will introduce to your puppy and impart to you are designed with all this in mind. Training
                        sessions will take place at your home where the environment can be controlled to reduce the loss
                        of focus. We also want your puppy to be engaged with the training process as well without
                        burning them out or making them uncomfortable. </p>
                    <p>Your puppy is a fuzzy ball full of potential and
                        I'd be more than happy to help you and your family achieve it through strong leadership and a
                        relationship built on love, trust, and respect!</p>
                    <h6>The puppy training program will include:</h6>
                    <ul>
                        <li><i class="fas fa-paw"></i><span>House breaking</span></li>
                        <li><i class="fas fa-paw"></i><span>Crate training</span></li>
                        <li><i class="fas fa-paw"></i><span>Basic commands</span></li>
                        <li><i class="fas fa-paw"></i><span>Establishing boundaries</span></li>
                        <li><i class="fas fa-paw"></i><span>Gate and door control</span></li>
                        <li><i class="fas fa-paw"></i><span>Recall - coming when called</span></li>
                        <li><i class="fas fa-paw"></i><span>Proper leash maintanence</span></li>
                        <li><i class="fas fa-paw"></i><span>Walking on a leash</span></li>
                        <li><i class="fas fa-paw"></i><span>Walking on a leash</span></li>
                        <li><i class="fas fa-paw"></i><span>Distance control (staying with you around other
                                distractions)</span></li>
                        <li><i class="fas fa-paw"></i><span>Socializing</span></li>
                        <li><i class="fas fa-paw"></i><span>Help your puppy become accustomed to being handled</span>
                        </li>
                        <li><i class="fas fa-paw"></i><span>Bad behavior management and prevention</span></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-5">
                    <ul class="services-subnav">
                        <li class="dropdown-item"><a href="/services"><i class="fas fa-paw"></i><span>Introduction</span></a></li>
                        <li class="dropdown-item"><a href="/behavior-therapy"><i class="fas fa-paw"></i><span>Behavioral Therapy</span></a>
                        </li>
                        <li class="dropdown-item" aria-current="page"><a href="/puppy-training"><i class="fas fa-paw"></i><span>Puppy Training</span></a></li>
                        <li class="dropdown-item"><a href="/obedience-training" ><i class="fas fa-paw"></i><span>Obedience Training</span></a>
                        </li>
                        <li class="dropdown-item"><a href="/what-to-expect"><i class="fas fa-paw"></i><span>What to Expect</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/footer') %>