<%- include('../partials/header') %>

    <section class="white-section element-1">
        <div class="container service-page">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="service-title">Training Services</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <h4>Meet the Trainer</h4>
                    <p>Dogs have always been an important part of my life for as long as I can remember. Having studied
                        animal behavior and being mentored by some of the best dog trainers in the country, I have
                        developed the skills to assist familes with their own beloved canine companions. Nothing brings
                        me greater joy than working with dogs and their owners to achieve a more comfortable and
                        cohesive lifestyle.</p>
                    <p>Communication is vital to any relationship, and that includes the one between you and your dog.
                        My goal is to not just help train dogs to make better decisions, but to educate their
                        families on how to more effectively make their intentions clear.</p>
                    <p>Whatever your dog's breed, age, or behavioral issue, I will work with you to establish a positive
                        relationship and instruct you on how to give your dog the kind of structure and leadership that
                        they need. I look forward to helping both you and your furry family live a happier life
                        together!</p>
                    <div class="contactButtons">
                        <a href="/contact" class="btn btn-primary">
                            <i class="bi bi-forward"></i>
                            <span>Contact</span>
                        </a>
                        <a href="tel:832-723-4497" class="btn btn-primary">
                            <i class="bi bi-telephone-fill"></i>
                            <span>(832) 723-4497</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="" alt="profile-pic">
                </div>
            </div>
        </div>
    </section>

    <section class="white-section">
        <div class="container service-page">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="service-title">Individualized in home training</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <p>Every dog is a unique animal, no two are ever the same. Therefore it stands to reason that they
                        won't always respond in the same way to any singular training method. Although there are various
                        general responses we could reasonably expect, there is no one cookie cutter approach to how we
                        should communicate with them. My job is to teach you to how to establish rules and boundaries
                        based on your dog's temperament and personality.</p>
                    <p>Dogs learn best in a familiar, safe environment, free of outside distractions and disruptions.
                        That's why in order to ensure your dog receives the ideal learning experience, I come directly
                        to your home where they will have the most controlled and neutral setting. Most behaviors a dog
                        exhibits stem from their home environment and how they respond to the established routine. After
                        assessing your current household dynamics and making the necessary adjustments, I will then
                        teach you how to effectively communicate with and be confident with leading your dog. Of course,
                        no dog lives in a vacuum, so once we have made suitable progress with your dog's training and
                        responsiveness we will gradually introduce distracting elements and environments to test their
                        understanding of the expectations placed upon them.</p>
                    <p>What You Can Expect From This Service:</p>
                    <ul>
                        <li><strong>Customized training in your home,</strong> where most issues occur</li>
                        <li><strong>One-on-one plan</strong> catered to your dog’s individual concerns</li>
                        <li><strong>Training sessions</strong> last approximately 1 hour</li>
                        <li><strong>Immediate results </strong>after your first lesson</li>
                        <li><strong>Training built on a foundation</strong> of love, respect, and understanding</li>
                        <li><strong>Training available for all dogs</strong> no matter their age, breed, or temperament
                        </li>
                    </ul>
                    <p>Dog Behavioral Issues That I Can Help You Overcome...</p>
                    <ul>
                        <li>Aggression</li>
                        <li>Begging</li>
                        <li>Biting</li>
                        <li>Chewing</li>
                        <li>Digging</li>
                        <li>Reactivity to other dogs</li>
                        <li>Unruly dog manners</li>
                        <li>Toileting in the house</li>
                        <li>Jumping</li>
                        <li>Fearfulness</li>
                        <li>Marking</li>
                        <li>Object guarding</li>
                        <li>Overexuberance</li>
                        <li>Pulling on the leash</li>
                        <li>Separation anxiety</li>
                        <li>Sibling rivalry</li>
                    </ul>
                    <p>
                        Whatever your dog training requirements are, rest assured that I can assist you with any problem, any dog, any age, any breed. From puppy training to senior dogs, my priority is to help you and your live happier and more cohesive life together!
                    </p>
                </div>
                <div class="col-lg-4 col-md-5">
                    <ul class="services-subnav">
                        <li class="dropdown-item" aria-current="page"><a href="/services"><i class="fas fa-paw"></i><span>Introduction</span></a></li>
                        <li class="dropdown-item"><a href="/behavior-therapy"><i class="fas fa-paw"></i><span>Behavioral Therapy</span></a>
                        </li>
                        <li class="dropdown-item"><a href="/puppy-training"><i class="fas fa-paw"></i><span>Puppy Training</span></a></li>
                        <li class="dropdown-item"><a href="/obedience-training" ><i class="fas fa-paw"></i><span>Obedience Training</span></a>
                        </li>
                        <li class="dropdown-item"><a href="/what-to-expect"><i class="fas fa-paw"></i><span>What to Expect</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer') %>