<%- include('../partials/header') %>

    <section class="white-section element-1">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Training Services</h1>

                    <p>Dogs have always been an important part of my life for as long as I can remember. Having studied
                        animal behavior and being mentored by some of the best dog trainers in the country, I have
                        developed the skills to assist familes with their own beloved canine companions. Nothing brings
                        me greater joy than working with dogs and their owners to achieve a more comfortable and
                        cohesive lifestyle.</p>
                    <p>Communication is vital to any relationship, and that includes the one between you and your dog.
                        My goal is to not just help train dogs to make better decisions, but to educate their
                        families on how to more effectively make their intentions clear.</p>
                    <p>Whatever your dog's breed, age, or behavioral issue, I will work with you to establish a positive
                        relationship and instruct you on how to give your dog the kind of structure and leadership that
                        they need. I look forward to helping both you and your furry family live a happier life
                        together!</p>
                </div>
                <div class="col-md-5"></div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer') %>