<%- include('../partials/header') %>
    <section class="white-section element-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8"> 

                </div>
                <div class="col-md-4">
                    <ul>
                        <li><a href="/services"><i class="fas fa-paw"></i><span>Introduction</span></a></li>
                        <li><a href="/behavior-therapy"><i class="fas fa-paw"></i><span>Behavioral Therapy</span></a>
                        </li>
                        <li><a href="/puppy-training"><i class="fas fa-paw"></i><span>Puppy Training</span></a></li>
                        <li><a href="/obedience-training"><i class="fas fa-paw"></i><span>Obedience Training</span></a>
                        </li>
                        <li><a href="/what-to-expect"><i class="fas fa-paw"></i><span>What to Expect</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/footer') %>