<%- include('../partials/header') %>
    <section class="white-section element-1">
        <div class="container service-page">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <h1>What to Expect</h1>
                    <p>Utilizing proven dog training methods developed by studying under some the greatest dog trainers
                        in the country, I will help you to solve your dog's behavioral problems. I will come to your
                        home and evaluate your dog's behavior and situation and develop a personalized training program
                        that addresses your dog's specific challenges and train both you and your dog in the comfort of
                        your home, the place where most behavioral issues originate. The techniques I use are
                        dog-friendly and designed with their best interests in mind as well as being easy for you to
                        learn and integrate into your interactions with your dog. The goal is for you to have a
                        well-behaved dog through strong leadership built upon a trusting and respectful relationship.
                        With the majority of dogs, we can see a dramatic improvement in the way they respond to your
                        commands right from the first hour of training. Consistency is critical, so long as you practice
                        the techniques and follow the suggestions for general care of your dog, you can expect a lasting
                        change in your dog’s behavior within two months.</p>
                    <p>
                        My job is not just to train your dog to be a better canine citizen, but to educate you on how to
                        maintain clear communication with them long after I'm gone. For complete success, it is crucial
                        that you practice the techniques that we cover during training sessions for at least 10 to 20
                        minutes per day in order to develop their learning into long term habits. Of course, immersion
                        is the most effective way to learn new concepts, that's why a number of techniques I will impart
                        to you can easily be integrated into basic daily routines and interactions with your dog that
                        don't even feel like training if you are a family that is constantly on the move.
                    </p>
                    <p>
                        You know your dog better than anyone, including me. All the little behaviors and idiosyncracies
                        that make them who they are. Therefore I will be relying on you to keep me informed with your
                        dog's progress with the training. I am readily available outside of scheduled training hours to
                        discuss any and all concerns, lingering issue, or even celebratory achievements. Simply call me
                        and you’ll be able to leave a message so that I can get back to you. Alternatively, you can send
                        an email at any time. If I don’t hear from you, I can only assume that your dog’s behavioral
                        issues are resolved and you don’t need further help.
                    </p>
                    <p>If you ever have any questions, comments, or concerns or are unhappy with any aspect of the
                        service please feel free to let me know. I’d rather know that you’re struggling, sooner rather
                        than later, so I can get things back on track and continue building a better life for your
                        family.</p>
                    <p>
                        TLDR what to expect from my service:
                    </p>
                    <ul>
                        <li>I will develop an individualized training plan that addresses your dog's specific needs.</li>
                        <li>I will work with you until I have solved the problems you have described to your satisfaction.</li>
                        <li>I will return phone calls, texts, and email messages promptly – usually the same or next day.</li>
                        <li>I will explain the whole process thoroughly so that you understand the “why” behind what I ask you to do.</li>
                        <li>I will pet your dog.</li>
                        </ul>

                </div>
                <div class="col-lg-4 col-md-5">
                    <ul class="services-subnav">
                        <li class="dropdown-item"><a href="/services"><i class="fas fa-paw"></i><span>Introduction</span></a></li>
                        <li class="dropdown-item"><a href="/behavior-therapy"><i class="fas fa-paw"></i><span>Behavioral Therapy</span></a>
                        </li>
                        <li class="dropdown-item"><a href="/puppy-training"><i class="fas fa-paw"></i><span>Puppy Training</span></a></li>
                        <li class="dropdown-item"><a href="/obedience-training" ><i class="fas fa-paw"></i><span>Obedience Training</span></a>
                        </li>
                        <li class="dropdown-item" aria-current="page"><a href="/what-to-expect"><i class="fas fa-paw"></i><span>What to Expect</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/footer') %>